/* You can add global styles to this file, and also import other style files */

@import "variable.scss";
@import "helper.scss";

*  {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
body { 
    margin: 0;
    font-size: 12px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    color: inherit;
    text-decoration: inherit;
    &:hover {
    }
}