.dashboard-wrapper {
    border: 1px solid grey;
    & > .dashboard-column:nth-child(2) {
        border-left: 2px solid grey;
        border-right: 2px solid grey;
        padding: 16px;
    }
    & > .dashboard-column:nth-child(3) {
        padding: 16px;
        position: relative;
    }  
 }