<ng-container>
    <div class="text-title d-flex d-align-center location-from">
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
        <div>San Francisco, CA, USA</div>
    </div>
    <div class="selected-trip d-flex location-info">
        <mat-icon aria-hidden="false" aria-label="Example home icon">airplanemode_active</mat-icon>
        <div>
            <div class="d-flex d-justify-between">
                <div class="text-title text-pink">China Aireline</div>
                <div>-2 tickets +</div>
            </div>
            <div class="selected-trip-date">
                Oct 15, 01:40(SFO) -> Oct 17 00:35(BKK)
            </div>
        </div>
    </div>
    <div class="text-title d-flex d-align-center location-to">
        <mat-icon aria-hidden="false" aria-label="Example home icon">place</mat-icon>
        <div>Bangkok, Tailland</div>
    </div>
    <button class="btn btn-blue">
        <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
    </button>
    <div class="trip-checkout-wrapper">
        <div class="d-inline-block">
            <div class="d-flex d-align-center">
                <span class="badge badge-circle">?</span>
                <div>Help</div>
            </div>
        </div>
        <div>
            <button class="btn btn-grey d-inline-block">$960</button>
            <button class="btn btn-pink d-inline-block">TRIP CHECKOUT</button>
        </div>
    </div>
</ng-container>